doctype html
html(lang='en')
    head
        title='Kane Loughnan - Web Developer based in Sydney'

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='keywords', content='Kane, Loughnan, Web, Website, Site, Design, Designer, Developer, Programmer, Development, Sydney, NSW, Australia, Sutherland Shire')
        meta(name='description', content='Web Developer based in Sydney. I am enthusiastic, have a positive, scientific and innovative approach to challenges, a strong attention to detail and thrive in a team environment.')
        meta(name='author', content='Kane Loughnan')
        meta(name='robots', content='index, follow')
        meta(property='og:locale', content='en_US')
        meta(property='og:title', content='Kane Loughnan - Web Developer based in Sydney')
        meta(property='og:description', content='Web Developer based in Sydney. I am enthusiastic, have a positive, scientific and innovative approach to challenges, a strong attention to detail and thrive in a team environment.')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://www.kaneloughnan.com/')
        meta(property='og:image', content='https://www.kaneloughnan.com/img/favicon_inverted.png')

        link(rel='canonical', href='https://www.kaneloughnan.com/')
        link(rel='stylesheet', href='/stylesheets/timeline.css')
        link(rel='stylesheet', href='/stylesheets/animate.min.css')
        link(rel='stylesheet', href='/stylesheets/fotorama.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id='nav-container')
            div(id='nav')
                p(class='small-logo', data-scroll='header') KL
                ul
                    li(data-scroll='experience') Experience
                    li(data-scroll='skills') Skills
                    li(data-scroll='portfolio') Portfolio
                    li(data-scroll='contact') Contact
        block content

        script(src='https://www.google.com/recaptcha/api.js?render=6Ld79v0UAAAAAKTK-j722WE9cDWG9lDV18qB209c')
        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-130175362-1')
        script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-130175362-1');
        script(src='/javascripts/jquery-3.2.1.min.js', defer)
        script(src='/javascripts/jquery.validate.min.js', defer)
        script(src='/javascripts/particles.min.js', defer)
        script(src='/javascripts/ua-parser.min.js', defer)
        script(src='/javascripts/lazysizes.min.js', defer)
        script(src='/javascripts/fotorama.js', defer)
        script(src='/javascripts/main.min.js', defer)
