$mainFont: ErasBold;
$dark: #333333;
$light: #fafafa;
$orange: #ff6e2e;

@mixin transform($property){
    -ms-transform: $property; /* IE 9 */
    -webkit-transform: $property; /* Chrome, Safari, Opera */
    transform: $property;
}

@mixin box-shadow($property){
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

@mixin transition($property){
    -webkit-transition: $property; /* Safari */
    transition: $property;
}

@mixin user-select($property){
    -webkit-user-select: $property; /* Chrome/Safari */        
    -moz-user-select: $property; /* Firefox */
    -ms-user-select: $property; /* IE10+ */
    user-select: $property; /* Standard syntax */
}

@font-face {
    font-family: $mainFont;
    src: url('/stylesheets/fonts/ERASBD.eot') format('eot'),
	url('/stylesheets/fonts/ERASBD.TTF') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: $light;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}

h1,
h2,
h3,
h4{
    margin-bottom: 10px;
    font-family: $mainFont;
    text-transform: uppercase;
}

p{
    margin-bottom: 10px;
}

a{
    @include transition(all 0.3s ease);

    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
}


#nav-container{
    height: 60px;
}

#nav{
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $dark;
    z-index: 4;
    @include transition(all 0.3s ease);

    .small-logo{
        color: #fff;
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        font-family: ErasBold;
        @include transition(all 0.3s ease);
    }

    ul{
        list-style: none;
        padding: 0;
        float: right;
    }

    ul li{
        color: #fff;
        display: inline;
        font-size: 14px;
        @include transition(all 0.3s ease);

        &:not(:last-child){
            margin-right: 20px;
        }
    }

    .small-logo:hover,
    ul li[data-scroll]:hover, 
    .small-logo.active, 
    ul li[data-scroll].active{
        cursor: pointer;
        color: $orange;
    }
}

#header{
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;
    position: relative;
    @include user-select(none);

    canvas{
        z-index: 1;
    }

    .portrait-container{
        left: 50%;
        z-index: 2;
    }

    .text{
        left: 0;
        z-index: 3;
    }
    
    .portrait{
        position: absolute;
        max-height: 90%;
        max-width: 90%;
        left: 50%;
        bottom: 0;
        @include transform(translateX(-50%));
    }

    .title{
        position: absolute;
        top: 40%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        letter-spacing: -1px;
        opacity: 0;

        .logo{
            font-size: 50px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }
    
        .job{
            text-align: center;
            font-size: 24px;
        }
    }

    .info{
        border-radius: 1px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        @include transform(translateX(-50%));
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.1));
        width: 500px;
        background-color: rgba(255,255,255,0.98);
        padding: 40px;
        text-align: center;

        p{
            font-size: 14px;
            margin-bottom: 40px;
        }
        a{
            border: 1px solid $orange;
            padding: 12px 30px;
            color: $orange;
            text-decoration: none;
            display: inline-block;
            border-radius: 2px;
            width: 120px;
        }
    }
}

.fname,
.lname{
    display: inline-block;

    &:first-letter{
        font-size: 110%;
    }
}

.fname{
    color: $orange;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    &.light{
        background-color: rgba(255,255,255,0.6);
    }
}

.section{
    padding: 60px;
    position: relative;
    overflow-x: hidden;

    .section-heading{
        color: #fff;
        margin-bottom: 60px;
        text-align: center;
        position: relative;
    
        &.light .section-heading{
            color: #444;
        }
    
        &.dark{
            background-color: $dark;
        }
    }
}

#experience{
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/images/mountains.jpg');
    position: relative;
}

#skills{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#contact{
    background-image: url('/images/contact.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    .form-box{
        opacity: 0;
        border-radius: 1px;
        width: 720px;
        margin: 0 auto;
        @include box-shadow(0 0 3px rgba(0, 0, 0, .1));
        background-color: #fff;
        padding: 40px;

        .info{
            display: inline-block;
            vertical-align: top;
            width: 240px;
            margin-right: 40px;
        }
        
        form{
            display: inline-block;
            vertical-align: top;
            border-radius: 2px;
            width: 360px;

            .input-container:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            label{
                font-weight: bold;
                display: block;
                font-size: 12px;
                margin-bottom: 4px;

                &.error{
                    margin: 4px 0 0 0;
                    color: $orange;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

.input-container{
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea{
    padding: 8px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    color: #444;
    -webkit-appearance: none;
}

textarea{
    resize: none;
    height: 100px;
}

input[type="button"],
input[type="submit"]{
    background-color: #40484D;
    border: none;
    color: #fff;
    padding: 14px;
    width: 100%;
    display: block;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    @include transition(all 0.3s ease);
    -webkit-appearance: none;
    font-weight: bold;
}

input[type="button"]:hover,
input[type="submit"]:hover, 
input[type="button"]:disabled, 
input[type="submit"]:disabled{
    opacity: 0.7;
    cursor: pointer;
}

#footer{
    background-color: $dark;
    height: 120px;
    line-height: 120px;
    padding: 0 40px;
    position: relative;

    p{
        color: #fff;
        margin: 0;
    }
}

.icons{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .icon{
        display: inline-block;
        width: 16.6667%;
        margin-bottom: 60px;
        vertical-align: middle;
        opacity: 0;
    }

    .icon img{
        max-width: 100px;
        max-height: 80px;
        display: block;
        margin: 0 auto;
    }

    .icon p{
        text-align: center;
    }
}

.tiles{
    margin: 0 -60px -60px -60px;
    text-align: center;

    .tile{
        width: 33.3333%;
        height: 320px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        position: relative;
        margin-top: -1px;

        .inner{
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include transition(all 0.7s ease);
        }
    
        .inner:focus, 
        .inner:hover, 
        .inner[active]{
            @include transform(scale(1.2));
        }
        
        span{
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 22px;
            font-family: ErasBold;
            text-transform: uppercase;
            pointer-events: none;
        }

        &:hover{
            cursor: pointer;
        }
    }
}

#magnific{
    background-color: rgba(0,0,0,0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 4;
    overflow-y: scroll;

    .gallery{
        width: 100%;
    }

    .close{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 6;
        padding: 6px;
        background-color: #444444;
        
        img{
            height: 20px;
            display: block;
        }

        &:hover{
            cursor: pointer;
        }
    }
}

.error-message{
    padding: 40px;
    text-align: center;
}

@media (max-width: 1000px){
    #header{
        .text{
            width: 100%;
        }

        .title{
            .logo{
                font-size: 50px;
            }
            
            .job{
                font-size: 20px;
            }
        }
    }

    .tiles .tile{
        width: 50%;
    }

    .icons .icon{
        width: 25%;
    }

    #contact{
        .form-box{
            width: 100%;
            margin: 0;
            padding: 40px;

            .info{
                display: block;
                width: 100%;
                margin-right: 0;
            }
            
            form{
                display: block;
                width: 100%;
            }
        }
    }
}

@media (max-width: 700px){
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 24px;
    
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }

    #nav{
        padding: 0 20px;

        ul li{
            font-size: 12px;

            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
    
    #header{
        height: calc(100vh - 60px);

        .title{
            top: 40%;

            .logo{
                font-size: 40px;
                white-space: pre-wrap;
            }

            .job{
                font-size: 18px;
            }
        }
        
        .info{
            width: 100%;
            bottom: 0;
            padding: 20px;

            p{
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
    }
    
    #contact .form-box{
        padding: 20px;
    }

    .section{
        padding: 20px;

        .section-heading{
            margin-bottom: 40px;
        }
    }
    
    #footer{
        padding: 0 20px;
        height: 100px;
        line-height: 100px;

        p{
            font-size: 12px;
        }
    }

    .icons .icon{
        width: 33.3333%;
        margin-bottom: 30px;

        .icon img{
            max-width: 90px;
            max-height: 70px;
        }
    }

    .tiles{
        margin: 0 -20px -20px -20px;
    }
}

@media (max-width: 420px){
    .icons .icon img{
        max-width: 70px;
        max-height: 50px;
    }

    .section .section-heading{
        margin-bottom: 20px;
    }

    .tiles .tile{
        width: 100%;
        height: 220px;
        display: block;
        margin-top: 0;
    }
}
